
#Ignore files build by Visual Studio
*.obj
*.exe
*.dll
*.pdb
*.user
*.log
*.suo
*.tlog
*.idb
*.sdf
*.ilk
*.lib
*.opensd
*.opensdf
*.opendb
*.suo
*.suo
doc/Doc/
reflective/misc/hierarchy_test_util/hierarchy_test_util/bin/
reflective/misc/hierarchy_test_util/hierarchy_test_util/obj/
*.iobj
*.ipdb
